body, html {
  margin: 0;
  background: #e7e7e7;
  color: #000;
  font-family: sans-serif;
}

body a {
  color: #111;
}

div {
  max-width: 960px;
  margin: auto;
}

header {
  padding: 1em;
  background-color: #111;
  color: #fff;
}

header img {
  float: left;
  height: 10em;
  padding: 0 3em 0 2em;
}

header p {
  color: #eee;
}

section {
  padding: 0em 1em;
}

section.half {
  width: 45%;
}

body ul li {
  background: #ccc;
  padding: .5em;
  margin: .5em;
  list-style-type: none;
  font-weight: bold;
}

body > ul > li {
  margin: 1em;
}

ul li ul li {
  display: inline-block;
  background: #009ee0;
  padding: 1em;
  margin: .5em .125em;
  font-weight: normal;
}

  ul li ul li a {
    color: #10222b;
  }

a.impressum {
  color: #ccc;
  padding: 1em;
  text-align: right;
  display: block;
}
